<form method="post">
	<table>
		
		<tr>
			<td>Code:</td>
			<td><input type="text" name="codeVerification" /></td>
		</tr>
		
		<tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
	</table>
</form>