
@{
	ViewData["Title"] = "SomeView";
}

<div class="container">
	<div class="alert alert-info text-center width-auto" role="alert">
		SEEEEEEEEEEEEEEEEend
	</div>

	<div class="container center">
		<form>
			<div class="form-row">
				<textarea style="resize: none;" class="form-control form-check-label" for="exampleCheck1" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<div class="form-row ">
				<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
					<button type="submit" class="btn-primary btn form-control">Submit</button>
				</div>
				<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
					<a href="#" class="btn-primary btn form-control">Cancel</a>
				</div>
			</div>
		</form>
	</div>

</div>

