@model PR.EntitiesDTO.ReportDTO

@{
    ViewData["Title"] = "Create ";
}
@Html.HiddenFor(m => m.Latitude, new { id = "Latitude" })
@Html.HiddenFor(m => m.Longitude, new { id = "Longitude" })

<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
<link href="~/css/bootstrap-imageupload.min.css" rel="stylesheet">

<style>
    .imageupload {
        margin: 20px 0;
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <input type="image" src="~/images/image.png" />
        <input type="file" id="my_file" style="display: none;" />
    </div>
    <div class="col-md-4">

    </div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="UserId" type="hidden" />

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" class="form-control" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Violation" class="control-label"></label>
                <textarea asp-for="Violation" class="form-control"></textarea>
                <span asp-validation-for="Violation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="List" class="btn btn-info">My reports</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/bootstrap-imageupload.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $("input[type='image']").click(function () {
        $("input[id='my_file']").click();
    });
</script>
<script>
    window.addEventListener("load", function () {
        navigator.geolocation.getCurrentPosition(function (location) {
            document.getElementById("Latitude").value = location.coords.latitude;
            document.getElementById("Longitude").value = location.coords.longitude;
         });
    });
</script>