@model PR.EntitiesDTO.ReportDTO

@{
    ViewData["Title"] = "Create ";
}
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
<link href="~/css/bootstrap-imageupload.min.css" rel="stylesheet">

<style>
    .imageupload {
        margin: 20px 0;
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <input type='file' onchange="readURL(this);" />
        <img id="blah" src="~/images/image.png" alt="your image" />
    </div>
    <div class="col-md-4">
        
    </div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="UserId" type="hidden" />
    <input id="Latitude" asp-for="Latitude" type="hidden" />
    <input id="Longitude" asp-for="Longitude" type="hidden" />
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" class="form-control" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Violation" class="control-label"></label>
                <textarea asp-for="Violation" class="form-control"></textarea>
                <span asp-validation-for="Violation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <input type="submit" value="Cancel" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/bootstrap-imageupload.min.js"></script>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>